.App {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
}
.todo .done {
  text-decoration: line-through;
}
.todos-container {
  margin: 20px 0 0;
  font-family: "Calibri";
  width: 80%;
}
.todos-container .todo {
  display: flex;
  align-content: space-around;
  align-items: center;
  margin-bottom: 10px;
}
.todo span {
  margin: 0 5px 0;
  cursor: pointer;
  transition: all 0.2s ease;
}
.todo span:hover {
  font-size: 1.3em;
}
.todo .remove {
  margin-left: 5px;
}
.add-todo input {
  width: 100%;
  padding: 5px 10px;
  margin-bottom: 20px;
  border: 1px solid #cecece;
  border-radius: 3px;
}
